[2015-08-27 11:19] chrislittle opened #5 "some list commands don't work"
some of the exe cli commands don't work the same as others.

i.e. if I run clc server list = i get all my servers

if i run clc network list = "DataCenter: non zero value required"
same for load-balancer

seems inconsistent as the --help shows there are no other required fields on the list command

[2015-08-27 17:18] chrislittle opened #6 "better network documentation"
please improve the documentation on how to modify/create/delete firewall policies.

for example:
clc firewall-policy create --help doesn't tell me what else is required or how to format my rule on the windows CLI exe.  there is nothing documented and I appear to have to just guess the formatting for a rule.

[2015-08-31 12:14] chrislittle opened #7 "document config.yml on windows"
add the location of the config.yml to readme.  mine was stored in C:\Users\Chris.clc

so its likely C:\users\%username%.clc

generally if you can update the code to avoid a period in a folder name that might be a wise idea on Windows.

[2015-08-31 20:04] chrislittle opened #8 "config.yml profile code"
can you help me with the profile code?  by default this is what's in my yml file.

user: chris.little.ccva
password: XXXXX
defaultformat: ""
profiles: {}

the example you posted in the readme doesn't show the whole sample and i've tried a few configurations and cannot get it to work.

[2015-08-31 22:20] chrislittle opened #9 "Apple Mac support"
a few folks on our team are playing with the CLI and having issues using it on Mac.  can you compile something for download for mac?

[2015-08-31 22:34] chrislittle opened #10 "autocomplete"
can we get the autocomplete functionality built into the tool vs. another item to configure?  seems inefficient to have it separate

[2015-09-02 13:36] chrislittle opened #11 "OS missing from create server"
clc server create --help

no option is shown for OS flavor

--os-type says its for bare metal only.

[2015-09-02 14:05] chrislittle opened #12 "some switches on create server not working"
command:

[code]

Field `MemoryGb` does not exist.

[code]

Field `IsManagedOs` does not exist.

the --help seems to show it should work.

[2015-09-02 14:41] chrislittle opened #13 "standard storage VM build came out premium"
command:

[code]

VM created but came out 'premium' storage. build log below

[code]

[2015-09-02 22:33] #9 closed, assigned to nobody

[2015-09-02 22:33] #8 closed, assigned to nobody

[2015-09-02 22:33] #10 closed, assigned to nobody

[2015-09-02 22:33] #7 closed, assigned to nobody

[2015-09-02 22:34] #11 closed, assigned to nobody

[2015-09-02 22:34] #12 closed, assigned to nobody

[2015-09-02 22:35] #6 closed, assigned to nobody

[2015-09-03 11:34] #13 closed, assigned to nobody

[2015-09-03 19:54] #5 closed, assigned to nobody

[2015-09-04 17:40] chrislittle opened #14 "parent/sub account"
how does one leverage the CLI to list servers for sub accounts of a parent account?

I login with my user in the parent.  as admin in the parent I can view, execute, operate the stack for any sub account.

i don't see a way to put in an account alias field if i want to do actions against my hierarchy of accounts.

[2015-09-08 11:55] chrislittle opened #15 "server update"
command

[code]

no item in the help that says --server-id is a required field and the required field 'memory' is different than the 'memory-gb' in the create server command.  might want to keep them consistent.

[2015-09-14 21:48] gavin-lai opened #16 "Error in Windows is misleading"
Using Aug 29 binary the login option to create config.yml, by default, it looks like this:
**user: 'gavin.lai.ccva'
password: 'xxxxxxxxxxxx'
defaultformat: ""
profiles: {}**

I would get this error message:
_C:\Users\gavin.lai\Downloads\clc>clc server list
Error occured while sending request to API. Status code: 400. Server says: We didn't recognize the username or password you entered. Please try

[2015-09-17 16:55] #15 closed, assigned to nobody

[2015-09-21 16:41] #14 closed, assigned to nobody

[2015-09-21 20:58] lmcornejo opened #18 "Feature Request: MacOS CLI binary (or pkg)"
As you may know, MacOS is widely used as development platform due its simplicity.

A prebuilt MacOS client binary would create an incentive for many developers to try this tool eliminating the work on their side to build from source.

Furthermore, since the tool has autocomplete functionality that must be installed locally, packaging in a MacOS pkg file would be ideal.

Thanks for reading.

[2015-09-22 08:49] s-matyukevich opened #19 "Wrong error message in case when argument name is the same as nested struct field"
./out/clc network update --network some-id --user user --password password
`some-id` must be object specified either in JSON or in key=value,.. format.

It will be better if error message  will be 'Unknown option or argument: `Network1.'

[2015-09-22 11:23] #19 closed, assigned to nobody

[2015-09-22 11:28] s-matyukevich opened #20 "Not user friendly error message in case when API response don't return json object"
For now it is: "API request completed successfully. Status code: 200."

Maybe it will be better something like this: "Command executed successfully." or no message at all, as it is the case in most command line tools @jruckle @chrislittle what do you thin about this?

[2015-09-22 13:54] s-matyukevich opened #21 "source-account-alias option for most of the commands need to be deleted"
We should use either --user option or user information stored in cofig file instead

[2015-09-23 12:19] chrislittle opened #22 "case sensitive issues"
there seems to be some case sensitive code that makes the usage a little unfriendly.  i.e. if i issued this command

[code]

if I run

[code]

it states

[code]

seems the capital 'S' on types matters which isn't a good idea.

[2015-09-23 15:09] chrislittle opened #24 "clc server reboot"
I don't see a server reboot action in the clc server --help command.  reboot is a portal action.

[2015-09-24 09:14] s-matyukevich opened #25 "Need validation in clc data-center set-default command"
It would be to validate, that data center with such ID exists

[2015-09-24 09:23] s-matyukevich opened #26 "Need additional validation for --query option"
Error message should be shown to user in case if he tries to use --query option with property that don't exists

[2015-09-24 09:29] s-matyukevich opened #27 "maybe exclude links from default output for all commands?"
From my point of view, links in the output of the CLI just ocupy a lot of extra space, but don't provide useful information for user, Maybe it would be better to don't show them at all?
Another option is don't show them by default, but add --show-links option, that will return them to the output.
@chrislittle @jruckle what do you think?

[2015-09-24 19:53] chrislittle opened #29 "include autoscale in CLI"
https://www.ctl.io/api-docs/v2/#autoscale-policies

[2015-09-24 19:53] chrislittle opened #30 "include billing actions in CLI"
https://www.ctl.io/api-docs/v2/#billing

[2015-09-25 07:49] #18 closed, assigned to nobody

[2015-09-25 08:42] #27 closed, assigned to s-matyukevich

[2015-09-25 13:36] #21 closed, assigned to nobody

[2015-09-28 11:31] #26 closed, assigned to ldmberman

[2015-09-30 14:17] chrislittle opened #31 "firewall policy"
i'm having issues creating a firewall policy.  can you provide an example?

[code]

it just spits out

[code]

[2015-09-30 14:18] #22 closed, assigned to ldmberman

[2015-09-30 16:23] #30 closed, assigned to ldmberman

[2015-09-30 16:40] #29 closed, assigned to s-matyukevich

[2015-09-30 20:35] chrislittle opened #32 "account alias on get dc capabilities"
seems like the --account-alias flag doesn't work on get dc capabilities to get sub account details.

[code]

[code]

[2015-10-02 00:09] #16 closed, assigned to nobody

[2015-10-02 09:08] #20 closed, assigned to s-matyukevich

[2015-10-02 09:23] #25 closed, assigned to ldmberman

[2015-10-02 18:44] #32 closed, assigned to ldmberman

[2015-10-02 19:27] #24 closed, assigned to ldmberman

[2015-10-02 20:57] #31 closed, assigned to ldmberman

[2015-10-24 00:12] chrislittle opened #33 "new API's to include"
please put these in the CLI
https://www.ctl.io/api-docs/v2/#groups-set-group-horizontal-autoscale-policy
https://www.ctl.io/api-docs/v2/#groups-get-group-horizontal-autoscale-policy
https://www.ctl.io/api-docs/v2/#groups-get-group-scheduled-activities
https://www.ctl.io/api-docs/v2/#groups-set-group-defaults

[2015-10-27 09:19] ldmberman commented on #33
The last [one](https://www.ctl.io/api-docs/v2/#groups-set-group-defaults) seems to be broken now - the server responds with `405 Method Not Allowed`. I've reported it to the support.

[2015-10-29 08:57] ldmberman commented on #33
@chrislittle the commands have been added, please, check the [latest release](https://github.com/CenturyLinkCloud/clc-go-cli/releases/tag/2015-10-29).

[2015-10-29 11:15] #33 closed

[2015-10-30 12:03] chrislittle opened #34 "delete load balancer case-sensitive"
C:\clc>clc load-balancer delete --data-center DE1 --load-balancer-name test --profile sandbox
There are no load balancers with name test in DE1.

C:\clc>clc load-balancer delete --data-center DE1 --load-balancer-name Test --profile sandbox

job completes.  is the code supposed to be (for LB name) case sensitive?

also test the action as for me the CLI never went back to the cmd prompt until i hit

[2015-10-31 11:34] ldmberman commented on #34
Yes, I believe LB names are supposed to be case-sensitive - the server retains the case.

For how long had you been waiting for the command to complete? I am not able to reproduce the issue.

[2015-11-02 19:50] chrislittle commented on #34
thx if its supposed to be that way i'm good.  i can't reproduce the issue anymore either. perhaps it was a temp api issue. closing

[2015-11-02 19:50] #34 closed

[2015-11-06 14:15] idrabenia opened #36 "CLI Doesn't appear to be working on Mac OS"
Hi, guys. I've tried to install clc on my MacBook using links from README, but it didn't worked for me. Here is what I have in my terminal:

[code]

[2015-11-06 14:18] chrislittle commented on #36
once logged in you'd input:

[code]

if you want to set a default data center you can can do so using

[code]

then you could do a normal server list for that default without the --data-center tag

[2015-11-06 14:25] idrabenia commented on #36
@chrislittle thank you for answer.

I am sure that in this case the error message could be more informative. I believe it will help end users.

Do you think the CLI could ask for unknown values interactively if they absent ?

[2015-11-06 14:28] chrislittle commented on #36
I'd file an issue in github and see if the developers will evaluate the request.  if you want to see the required fields in the mean time you can use --help on any command in the tree.

[code]

[code]

[code]

just some examples.  but the --help always shows what is required vs optional and I find it quite helpful.

[2015-11-06 14:30] chrislittle commented on #36
and also there is a

[code]

if you want everything.....

[2015-11-06 14:54] ldmberman commented on #36
Hi @idrabenia,

It is actually asking you for one of those:

The letter case and the error message may be confusing though. The former is originally there because of the possibility to specify it this way in JSON:

[code]

Perhaps, it would make sense to only allow the dashed way (`data-center`) of writing property names.

The error message could also be like `The data-center field must be set and

[2015-11-06 15:26] chrislittle commented on #36
you could definitely do the "The data-center field must be set and non-empty" .  If this was consistent across all commands that are required and missed by a user it would probably make the error more friendly.

[2015-11-24 21:15] chrislittle opened #38 "execute package on create server"
can you put an example or help me with my config for executing a package during server build.  I can't seem to get it right.

[code]

I always get 'b229535c-a313-4a31-baf8-6aa71ff4b9ed must be an object specified either in JSON or in key=value,.. format'

I'm sure i've just got something wrong in the call.

[2015-11-24 21:55] ldmberman commented on #38
There should be `{'packageId':'b229535c-a313-4a31-baf8-6aa71ff4b9ed'}` instead of plain `b229535c-a313-4a31-baf8-6aa71ff4b9ed`. Or, `--packages packageId=b229535c-a313-4a31-baf8-6aa71ff4b9ed` would also fit.

Admittedly, it has to be exposed in help as it is generally the case for other options here.

[2015-11-24 22:05] chrislittle commented on #38
thx

[2015-11-24 22:05] #38 closed

[2015-11-25 16:39] chrislittle opened #39 "crawl entire tree"
is there a way to crawl an entire account alias hierarchy with the server list function?  i couldn't see anything in the help.

i'd like to crawl a top level and a tree of 20 sub accounts for a server list by specific data center.

[2015-11-25 18:41] ldmberman commented on #39
Unfortunately, there is no such possibility. Moreover, I do not see any related information in the API docs.

[2015-11-25 19:58] #39 closed

[2015-11-30 22:31] gavin-lai opened #40 "The example queries need capitalizing names"
Hi,
I ran the examples on https://github.com/CenturyLinkCloud/clc-go-cli as demo and realized the names of the queries are in lower cases, which would give errors, like templates.name (templates.name: there is no such field in the result), id.  After removing the query from the command, the output shows that the query names need to capitalize the first letter.  Is this by design or both lower and

[2015-12-01 12:25] chrislittle opened #41 "new APIs"
some new API's to get into the CLI
https://www.ctl.io/api-docs/v2/#groups-set-group-scheduled-activities

IPS API
https://www.ctl.io/knowledge-base/security/ips-api/

[2015-12-11 16:36] ldmberman commented on #40
Both cases should work - I am going to fix this.

[2015-12-22 18:09] chrislittle opened #42 "api change"
https://www.ctl.io/api-docs/v2/#servers-get-server

new string:
displayName	string	Friendly display name for the server (can be the same as the name)

it doesn't appear in any create API's but wanted you to know its there now.

[2016-01-05 01:14] jruckle commented on #36
@ldmberman can you make this enhancement?

[2016-01-05 01:14] jruckle commented on #41
@ldmberman can you add these to the CLI?

[2016-01-06 14:04] ldmberman commented on #40
Please, try [the latest release](https://github.com/CenturyLinkCloud/clc-go-cli/releases/tag/2016-01-06).

[2016-01-06 14:08] ldmberman commented on #36
Please, see [the latest release](https://github.com/CenturyLinkCloud/clc-go-cli/releases/tag/2016-01-06).

[2016-01-06 14:09] ldmberman commented on #41
I've added the first one in [the latest release](https://github.com/CenturyLinkCloud/clc-go-cli/releases/tag/2016-01-06).

[2016-01-27 00:08] chrislittle opened #43 "relational db APIs"
we have now launched our relationdb mysql service.  please get the API's into the CLI for managing this service.

service: https://www.ctl.io/relational-database/

APIs:  https://api.rdbs.ctl.io/api/swagger/index.html

[2016-02-03 14:54] gavin-lai opened #44 "Generate cli skeleton"
Good morning,
CLI version: 2016-Jan-06
I have been trying to have the --generate-cli-skeleton working, from both the example and from trying myself. From the example:
clc group list --filter 'servers-count>0' --generate-cli-skeleton > groups_with_servers.json
clc group list --from-file groups_with_servers.json
Output: All does not accept any value.
While this works:
clc server list --all --query d

[2016-02-04 09:55] ldmberman commented on #44
Hi @gavin-lai ,

As of your first example

[code]

there is a bug, indeed. The `group list` and `server list` commands do not generate the skeleton properly unless the `--all` option is specified. As a workaround, you can remove the `"All":{"Set":false},` part from `groups_with_servers.json`.

In your second example

[code]

everything works as expected. The `--from-file` option simply takes the a

[2016-02-05 16:11] gavin-lai commented on #44
A follow on question, can --filter be used for items under a first level item, like details.power-state?  Or there is a better way doing it?
Thanks
Gavin

[2016-02-08 15:40] ldmberman commented on #44
Unfortunately, `--filter` does not work with the inner fields.

You might consider using [the jq tool](https://stedolan.github.io/jq/) for complex JSON processing. For example, you may first query by the host name and power state:

[code]

and then filter the paused servers using jq:

[code]

[2016-03-01 20:20] russmalloy opened #45 "Remove case sensitivity from specifying servers with GoCLI"
The server name and Network name (and possibly account alias) are case sensitive when running the commands used when adding secondary nics.

https://www.ctl.io/knowledge-base/network/add-or-remove-network-interface-to-server-using-go-cli/

I've put in a PM request to update documentation for this, but it seems like removing case sensitivity would be worthwhile from the commands as well.

[2016-03-08 18:09] gavin-lai opened #46 "Custom field"
Good afternoon,
The current support for custom field is only for id and value, would it be expand to include 'isRquired', type and name?
Thanks
Gavin

[2016-03-28 14:02] ldmberman commented on #46
@jruckle @gavin-lai was updated in [the latest release](https://github.com/CenturyLinkCloud/clc-go-cli/releases/tag/2016-03-28)

[2016-03-28 14:04] ldmberman commented on #45
@russmalloy thank you for pointing this out.

As far as I see, the same applies for the server, network, group, and load-balancer names in all of the commands. I've fixed it so you can give it a try with [the latest release](https://github.com/CenturyLinkCloud/clc-go-cli/releases/tag/2016-03-28).

[2016-03-28 14:05] ldmberman commented on #44
@gavin-lai @jruckle was fixed in [the latest release](https://github.com/CenturyLinkCloud/clc-go-cli/releases/tag/2016-03-28).

[2016-03-28 14:07] ldmberman commented on #43
@jruckle @chrislittle done; please, see [the latest release](https://github.com/CenturyLinkCloud/clc-go-cli/releases/tag/2016-03-28)

[2016-03-28 14:08] ldmberman commented on #42
@chrislittle I've added it [in the latest release](https://github.com/CenturyLinkCloud/clc-go-cli/releases/tag/2016-03-28).

[2016-03-28 14:08] ldmberman commented on #41
@chrislittle @jruckle The IPS support has been added in [the latest release](https://github.com/CenturyLinkCloud/clc-go-cli/releases/tag/2016-03-28).

[2016-03-28 15:01] #42 closed

[2016-03-28 15:06] chrislittle commented on #45
tested/confirmed @russmalloy please close this issue

[2016-03-28 15:10] #43 closed

[2016-03-28 15:11] #41 closed

[2016-03-28 18:13] chrislittle opened #47 "rdbs command"
getting an odd error.  hopefully I got the command right..I edited out the password

[code]

[code]

[2016-03-29 08:35] ldmberman commented on #47
My bad, I've built the releases with the old dependencies.

I've updated the releases page with the new archives. Could you, please, give it another try?

There is no MacOS .pkg for now - I'll add it later today.

[2016-03-29 12:04] chrislittle commented on #47
ok looks better but i still get

[code]

I suspect I have the syntax wrong somewhere so i'll keep trying

[2016-03-29 12:18] ldmberman commented on #47
@chrislittle I can help you troubleshooting this if you post some `--trace` output. Just don't forget to cover up the sensitive information.

[2016-03-29 18:26] chrislittle commented on #47
I added the --trace to the end of the command but it didn't put out any more data

[2016-03-29 18:47] ldmberman commented on #47
I don't see the second double quote here - `--users "name=chris,password=XXXX --data-center VA1`. It should be the cause of the problem.

[2016-03-29 18:51] chrislittle commented on #47
it actually was not that.  i had that (scroll in github).  i missed a " at the end of password !!! DUH!

[2016-03-29 18:51] #47 closed

[2016-03-29 20:25] gavin-lai opened #48 "Snapshot ID in clc get server output?"
Good afternoon,
A few customers are asking ways to schedule creation and deletion in a regular interval, in order to delete a snapshot, the delete-snapshot command requires the snapshot ID.  The Snapshot ID is not part of the get server output: (for example)
clc server get --server-name CA3CCVA2TAKE02
The snapshot output:
{
    "Snapshots": [
        {
            "Name": "2016-03-29.19:54:14"

[2016-03-30 10:16] ldmberman commented on #48
@gavin-lai done; please, see [the latest release](https://github.com/CenturyLinkCloud/clc-go-cli/releases/tag/2016-03-30)

[2016-03-30 14:23] chrislittle opened #49 "include simple backup API in CLI"
simple backup is now live please include in the CLI
https://www.ctl.io/simple-backup-service/

APIs:  https://api-va1.backup.ctl.io/clc-backup-api/swagger-ui.html

separate from this as backup, IPS, dbaas evolve how should we keep things updating? iterations are coming fast and furious......

[2016-03-30 14:24] chrislittle commented on #49
@jruckle see the last comment in this.  how do we keep the CLI teams updated on features in various products

[2016-03-30 21:27] gavin-lai commented on #48
Thank you for the quick fix.

[2016-03-30 21:27] #48 closed

[2016-03-30 23:32] jruckle commented on #49
@chrislittle there is probably some discretion about what APIs we want to support in the tool - so I think just continue to flag them here as issues, and then we can work with the team to prioritize. if Backup is something that makes sense, let's get it on the backlog.

[2016-03-30 23:34] chrislittle commented on #49
sure the big items right now are creating a policy, disabling a policy, applying and removing policies from servers i'd think.  since via the gui you have to do 1 by 1 and its painful @jruckle large clients are really saying "I have to spend hours clicking this"  not great

[2016-03-30 23:44] jruckle commented on #49
@ldmberman can you provide an estimate for this work?

[2016-04-04 11:56] chrislittle opened #50 "include patching as a service APIs"
include patching as a service API's to CLI
https://www.ctl.io/api-docs/v2/#patching

@jruckle

[2016-04-05 09:27] ldmberman commented on #50
Done. Please, see [the latest release](https://github.com/CenturyLinkCloud/clc-go-cli/releases/tag/2016-04-05).

[2016-04-05 12:22] #50 closed

[2016-04-06 09:07] ldmberman commented on #49
@chrislittle @jruckle an initial version has been implemented [here](https://github.com/CenturyLinkCloud/clc-go-cli/releases/tag/2016-04-06). Some updates might be needed soon after some of the [1](https://support.ctl.io/hc/en-us/requests/1252244), [2](https://support.ctl.io/hc/en-us/requests/1252247), [3](https://support.ctl.io/hc/en-us/requests/1252625) are resolved.

[2016-04-06 13:48] chrislittle commented on #49
sounds good.  I'm not going to really talk about this integration until some of these items are solved.

[2016-04-08 13:32] #40 closed

[2016-04-08 13:33] #44 closed

[2016-04-11 16:04] chrislittle opened #51 "output to csv"
is there a way we could create a default output to csv for the CLI?  we have TAMs (account mgrs) using the tool and being able to output to csv native would really help them.

[2016-04-12 14:35] ldmberman commented on #51
If it is something simple of a form:
[code]

then it might be convenient to use [jq](https://stedolan.github.io/jq/):

[code]

If it is a complex deeply nested structure like a `clc group list` output then csv is far from being the most friendly way to display such information.

Anyway, it's not very hard to implement native csv formatting. The only question is how to render nested objects. Would

[2016-04-12 15:14] gavin-lai commented on #51
Lots of users are looking for csv output for ease of data manipulation in spreadsheet, is it possible to have and output option as csv (like text, json, table)?  For nested output, as long as there is a delimiter, I think the users can figure a way to make it work in spreadsheet.

[2016-04-12 15:21] ldmberman commented on #51
@gavin-lai sure, it's possible. I don't get your point about the nested output, is JSON ok?

[2016-04-12 15:23] gavin-lai commented on #51
JSON is ok as default output, if someone wants the same output in csv, would they get the same data with delimiters?

[2016-04-12 15:37] flxstr commented on #51
Understand your question about nested, can this be resolved by always having a parent alias column in the output? What nested items would not have parent alias that would need consideration?

[2016-04-12 15:53] gavin-lai commented on #51
Yes, it can be resolved by parent alias column, like the table output

[2016-04-12 15:55] ldmberman commented on #51
@flxstr yes, it would work for the nested objects but what if we have a nested array of objects? Should we display the values of the additional columns comma-separated within the cell? Should we do the same for the lists of strings, ints, etc?

[2016-04-12 16:01] ldmberman commented on #51
@gavin-lai we do not have parent aliases in table output - we have nested tables, unless I failed to get what you mean by parent aliases

[2016-04-12 16:04] gavin-lai commented on #51
Oh, I mean the name of the value, like the heading of a table.  Do you have an example of nested array output?

[2016-04-12 18:26] gavin-lai commented on #51
I think we should delimit strings and ints as long as they are separate data points.

[2016-04-12 19:15] ldmberman commented on #51
@gavin-lai let's consider the following example:

[code]

Should we convert it to:

[code]
?

[2016-04-12 19:28] gavin-lai commented on #51
That looks good.

[2016-04-20 18:05] chrislittle commented on #49
@ldmberman it appears the --account-alias option doesn't work on backup calls for sub accounts.

[code]

it doesn't give me anything but a list of policies in the ACMC alias parent (CCCD).

[code]

@joonpark

[2016-04-27 13:55] chrislittle opened #52 "ips endpoint change"
according to this pull request the ips install/unistall endpoint has changed.
https://github.com/CenturyLinkCloud/PublicKB/pull/985/files

we may need the IPS code updated

[2016-04-27 19:49] #52 closed

[2016-04-29 14:17] gavin-lai opened #53 "Running under the SYSTEM account in Windows"
A customer is scheduling a task using the CLI and it fails when using the SYSTEM account, even when passing the user name and password in line, the details from the client below:

Yes, and using the default settings (which launch the process under the user account that was used to create the task), it initially works.  However, if you were to edit the properties of this task, click “Change User or

[2016-05-24 15:46] chrislittle opened #54 "new feature"
@jruckle

we'd like cross DC API added to CLI
https://www.ctl.io/api-docs/v2/#firewall-policies-create-a-cross-data-center-firewall-policy
https://www.ctl.io/api-docs/v2/#firewall-policies-delete-a-cross-data-center-firewall-policy
https://www.ctl.io/api-docs/v2/#firewall-policies-get-cross-data-center-firewall-policy
https://www.ctl.io/api-docs/v2/#firewall-policies-get-cross-data-center-firewall

[2016-05-24 16:17] jruckle commented on #54
@ldmberman - approved - this is this something you can do?

[2016-05-24 16:18] jruckle commented on #53
@ldmberman  - can you review and comment?

[2016-05-24 16:18] jruckle commented on #49
@ldmberman - can you comment on the status here?

[2016-05-24 16:19] jruckle commented on #51
@ldmberman  - can you update status here?

[2016-06-09 22:09] jruckle commented on #46
Closing

[2016-06-09 22:09] #46 closed

[2016-06-09 22:10] jruckle commented on #45
Closing

[2016-06-09 22:10] #45 closed

[2016-06-09 22:11] jruckle commented on #36
@ldmberman is this OK to close?

[2016-06-13 15:17] chrislittle opened #55 "remove premium from code"
please remove all traces of premium storage from CLI.  its retired.

@jruckle

[2016-06-15 18:38] chrislittle opened #56 "create site to site vpn api"
please add site to site vpn (including an example in the readme) v2 api to the CLI
@jruckle

https://www.ctl.io/api-docs/v2/#networks-create-a-site-to-site-vpn
https://www.ctl.io/api-docs/v2/#networks-delete-a-site-to-site-vpn
https://www.ctl.io/api-docs/v2/#networks-get-site-to-site-vpns
https://www.ctl.io/api-docs/v2/#networks-update-a-site-to-site-vpn

[2016-06-17 01:49] casrep opened #57 "Bash Errors Due to the '~/.bash_completion' Directory"
There's a small issue the occurs after `install_autocompletion` script creates the `.bash_completion` directory in my home folder on Linux. When opening new terminal sessions, it presents the error below:

[code]

I'm not overly familiar with the hierarchy of profile scripts that are sourced when a session starts, but there's clearly a conflict. Bash is expecting a script or executable where it fi

[2016-06-22 20:12] uzzz commented on #57
@casrep Hi! Thanks for the feedback. What Linux distribution do you use?

[2016-06-27 18:33] casrep commented on #57
Sorry for the delay.
[code]

I'm going to test on my Ubuntu install to see if I see the same thing.

[2016-07-05 18:59] chrislittle commented on #55
@jruckle is this approved?  we need premium out of the CLI

[2016-07-05 19:00] chrislittle commented on #56
@jruckle is this approved?

[2016-07-06 10:22] uzzz commented on #49
I took a look at issue with account alias filtering: API does not support filtering by account alias. Of course I can filter it on the CLI side, but it will break TotalCount, Limit and Offset features.

[2016-07-06 11:27] chrislittle commented on #49
i'll log a feature as this should be in the api

[2016-07-06 11:32] chrislittle commented on #49
feature opened https://t3n.zendesk.com/agent/tickets/1289630 and copied @ryanbrockman

[2016-07-06 18:34] casrep opened #58 "Config Read Errors in Regards to Profiles"
When trying to log in with a profile, I get the error below. I'm assuming the tool is expecting some kind of delimitation in the config somewhere.

[code]

What is the correct way to have the profiles added? Your documentation doesn't mention the braces, so are they required? When I remove the braces and try again, I get this error.

[code]

Here's my config.yml.

[code]

[2016-07-06 18:41] chrislittle commented on #58
your config.yml should look like this.

[code]

this gives me 4 profiles to use.
1.  my default profile, any query will be executed using this information.  no need to even use the clc login if this is set in your yml.
[code]
this lists all VM's in my default profile
2. 3 other profiles for demo, sandbox, internaluse i can call anytime.  for example (again no need to use clc login ever if you have

[2016-07-06 19:34] casrep commented on #58
I've updated the profile by removing the braces. I'm still getting the error below, though.

[code]

config

[code]

[2016-07-06 19:44] chrislittle commented on #58
i'd probably just dump your yml as maybe there is a space or something that is causing this in the config.  just do that, then issue

[code]

this will recreate the yml and run a normal clc server list --all....if it works....then layer on the profiles again with proper formatting, test again.

the dev's may weigh in eventually but hopefully this moves it along faster for you.

[2016-07-06 20:02] casrep commented on #58
Chris, what version of the tool are you using? I'm using 2016-04-06.

Using the basic `--all` flag works, but I get that error when I add in the profiles.

[2016-07-06 20:10] chrislittle commented on #58
using the latest 4/6 on Windows 7 x64

maybe we should do a slack / screen share, maybe we can figure out what is getting cranky in the profiles part.

[2016-07-06 20:18] casrep commented on #58
I figured out what it was. The tool doesn't like tabs in the config. Converting to spaces seems to do the trick.

Closing.

[2016-07-06 20:18] #58 closed

[2016-07-06 20:20] chrislittle commented on #58
cool.  what editor were you using?  I use atom.io for this stuff as it deals with this better

[2016-07-06 20:22] casrep commented on #58
I just use `vim`. I have it configured to show spaces and tabs with colorized special characters. I didn't realize the tool wouldn't like tabs in the config. Lesson learned.

[2016-07-06 21:35] JonTaitCtl commented on #49
You can add "CLC-ALIAS" header in your request with a value of "ACMC" for the example given above to impersonate the ACMC account when using a bearer token for CCCD. I hope that addresses the issue.

[2016-07-06 23:01] casrep commented on #57
Seeing the same thing on Ubuntu. Here's the system info.

[code]

Here's the bash version on my BunsenLabs system in my last message.

[code]

[2016-07-06 23:54] jruckle commented on #56
@chrislittle yes approved @uzzz can you please add this to the list of enhancements?

[2016-07-07 07:39] uzzz commented on #49
Thanks @JonTaitCtl

[2016-07-07 11:36] uzzz commented on #57
Yes, there was an issue. Most Linux distributions assume that `~/.bash_completion` is a file with user-defined completions, not a directory. Fixed ./install_autocomplete, will be delivered in next release.

[2016-07-07 15:30] #49 closed

[2016-07-07 15:30] #51 closed

[2016-07-07 15:30] #53 closed

[2016-07-07 15:30] #54 closed

[2016-07-07 15:30] #57 closed

[2016-07-08 22:57] casrep opened #59 "Autocomplete Issue - .bash_profile Not Utilized"
The new autocomplete script changes adding a source to the .bashrc file to adding a source to the non-existent .bash_profile file. Which ends up creating the file and making it look like the below:

[code]

Since .bashrc is used more commonly, especially on Debian-based systems, perhaps a fallback option of adding the line to .bashrc would be appropriate?

[2016-07-11 15:11] chrislittle opened #60 "add new API for webhooks to CLI"
https://www.ctl.io/api-docs/v2/#webhooks-add-webhook-target-uri
https://www.ctl.io/api-docs/v2/#webhooks-delete-webhook-target-uri
https://www.ctl.io/api-docs/v2/#webhooks-delete-webhook
https://www.ctl.io/api-docs/v2/#webhooks-get-webhooks
https://www.ctl.io/api-docs/v2/#webhooks-set-webhook

@jruckle

[2016-07-12 14:28] chrislittle commented on #56
@uzzz there appears to be some bug in the site to site vpn code.  I can't get the DiffieHelmanGroup to pass.  I have the syntax of diffieHelmanGroup but it seems the CLI is capitalizing the D when I run the command.  overall i'd love for case insensitivity to be part of this as having it case sensitive is painful

error:
[code]

example:
[code]

[2016-07-13 11:36] uzzz commented on #56
@chrislittle it actually was a typo: I wrote DiffieHe**ll**manGroup instead of DiffieHelmanGroup. Fixed now.

[2016-07-13 13:02] chrislittle commented on #56
@uzzz i'm now seeing (removed passwords, usernames & token info)

[code]

I modified my code as I noticed alias must equal the DC location (i.e. CA3) from my last attempt.  It all looks right.  can you provide a working example in the readme?

[code]

[2016-07-13 13:12] chrislittle commented on #56
@uzzz we also have to fix the term 'alias' in the code.  ALIAS is a totally different component of our stack.  ALIAS = a customers unique account alias.  it should be locationAlias in the code and the description should = Short code for a particular location (on the local side).  --account-alias if you look in the CLI code is for targeting specific accounts in a tree

[2016-07-13 14:09] uzzz commented on #56
Hmm... Maybe it's an API issue? Just performed following steps:
1. Crated site-to-site VPN from ctl.io
2. Run `clc site-to-site-vpn list` to get VPN json data
3. Deleted site-to-site VPN from step 1)
4. Tried to POST against an API using CURL with data from step 2) (data was modified as far as GET and POST requests a bit different: for example GET does have an `id` field, but doesn't have `preShar

[2016-07-13 15:28] chrislittle commented on #56
@jruckle see above.  how do you want to handle issues for the dev teams who need support from platform to look into api issues?  is there an established approach for the teams?  or do I need to shuffle this through personally @gavin-lai @uzzz

[2016-07-14 14:55] chrislittle opened #62 "missing data in data-center list"
if you issue a

[code]
the CLI is only outputting very basic data when there are (see https://www.ctl.io/api-docs/v2/#data-centers-get-data-center-list) quite a few pieces of other data that should be put out.
* availableOvfs
* computeLimits
* loadBalancers
* networkLimits

can we make sure this data is put out properly in the clc data-center list command.  i'll let you decide the best approach bu

[2016-07-14 15:45] chrislittle commented on #56
ticket opened @uzzz (you were cc'd)
https://t3n.zendesk.com/agent/tickets/1291129

[2016-07-15 11:36] uzzz commented on #56
So according to Scott Densmore my initial typo was accidentally correct :)

[2016-07-18 13:22] chrislittle commented on #56
thx @uzzz i'll watch for the new release once its ready.  did you also see my pull request to update the readme as it points to super old releases in the links

[2016-07-19 11:57] uzzz commented on #59
Are you sure @casrep ? From what I can see it add this line to .bashrd on linux and to .bash_profile on Mac OS X

[2016-07-21 17:59] #62 closed

[2016-07-21 18:03] chrislittle commented on #56
tested fully

[2016-07-21 18:03] #56 closed

[2016-07-22 18:20] casrep commented on #59
That makes sense. I must have grabbed the Mac version. I just blew the binary and downloaded again making sure I chose the right one. It seems to be working.

Sorry for the false issue.

[2016-07-22 18:20] #59 closed

[2016-08-03 18:59] chrislittle opened #63 "add runner API's to CLI"
https://runner.ctl.io/site-resources

There are lots of Runner API's i'd like to see in the CLI
- Job Service
- Job Schedule Service
- Service Account

[2016-08-09 14:54] chrislittle opened #64 "cross dc error"
there was an error discovered in the API doc's for cross DC FW.

ref:  https://github.com/CenturyLinkCloud/APIDocs/pull/82 for the changes to the API doc

@uzzz @bowlindm

Please fix this so the CLI outputs the proper data

[2016-08-29 13:43] chrislittle opened #65 "load balancer pools missing nodes feature"
the load balancer CLI options are missing adding 'nodes' to the pool.
https://www.ctl.io/api-docs/v2/#shared-load-balancers-create-load-balancer-pool (nodes is a definition that should be something to set)
https://www.ctl.io/api-docs/v2/#shared-load-balancers-get-load-balancer-nodes
https://www.ctl.io/api-docs/v2/#shared-load-balancers-update-load-balancer-pool

@bowlindm

[2016-08-29 13:46] chrislittle opened #66 "add new LBaaS APIs to CLI"
we have a new LBaaS offering in VA1 & UC1 (more soon).
please begin the process to add this to the CLI
https://www.ctl.io/knowledge-base/lbaas/getting-started-with-load-balancer-as-a-service/#api-configuration-and-management

@bowlindm its probably worth guiding the team as to how you want the shift done to the new service from the old.  for now my view is to create a new CLI area called LBaaS

[2016-09-02 17:33] chrislittle opened #67 "get server missing data"
the get server function is missing some data.  In particular:
- "isManagedOS":true
- "isManagedBackup":true

below is the output from a managed OS with Managed Backup and this data is not present.

[code]

[2016-09-13 12:17] chrislittle commented on #67
I'm also finding this is missing the secondary vNIC's on guests.

[code]

![nic bug](https://cloud.githubusercontent.com/assets/11097012/18473371/899bec34-798a-11e6-87c3-14fb2042f2e9.png)

[2016-09-30 18:02] gavin-lai commented on #55
Any updates?  Thanks

[2016-09-30 18:24] gavin-lai opened #68 "Alias used in error messages are referring to diffferent things"
Good afternoon,
When an error in the server name when creating a server, the error will come back and refers to an "alias" error, where "alias" is the account alias when inputting the command:

[root@st-ansible-01 etc]# clc --config /usr/local/etc/clc_config servers create --alias CV1 --location NY1 --group Staging --name NY1CV1VADEV01 --template NY1CV1X01 --cpu 1 --ram 1 --network vlan_3542_10.71

[2016-10-05 20:16] gavin-lai opened #69 "Error updating disks using CLI"
Hi CLI team,
I am running into error when I try the following:
clc server update --server-name ca2ccvaweb01 --disks "id=0:0,SizeGB=1 id=0:1,SizeGB=2 ID=0:2,SizeGB=20"
Unknown option or argument: `Id`.
I check the options in the API docs and tried using "disk-id" etc to test the command.  Is there any pointer for this command or there is an issue with changing the disk size?
Thanks
Gavin

[2016-10-06 18:06] richardcase commented on #55
I'm looking at this now.

[2016-10-06 18:59] richardcase commented on #55
I tested creating a server with a storage type of premium and the server was built. The storage type was actually provisioned as standard:

"DisplayName": "GB3CCTSMYSERV01",
        "GroupId": "b3945c669eb547a58abbe9b1531534a2",
        "Id": "gb3cctsmyserv01",
        "IsTemplate": false,
        "LocationId": "GB3",
        "Name": "GB3CCTSMYSERV01",
        "Os": "ubuntu14_64Bit",
        "OsTy

[2016-10-06 19:03] gavin-lai commented on #55
Hi Richard,
You are correct, premium option will have no effect on the build now.  It is just confusing for clients who know premium storage.
Thank you very much for your help.
Gavin

From: Richard Case [mailto:notifications@github.com]
Sent: Thursday, October 06, 2016 3:00 PM
To: CenturyLinkCloud/clc-go-cli <clc-go-cli@noreply.github.com>
Cc: Gavin Lai <Gavin.Lai@ctl.io>; Comment <comment@noreply

[2016-10-07 09:06] richardcase commented on #55
I have made this code change and will let you know when a pull request has been made to make it available.

[2016-10-07 09:09] richardcase opened #70 "Integration Tests Fail"
When running the integration tests there are numerous errors with tests. An example of the errors:

`2016/10/07 10:06:36 http: panic serving 127.0.0.1:35646: unexpected end of JSON input
goroutine 41 [running]:
net/http.(*conn).serve.func1(0xc8200daa80)
    /usr/local/go/src/net/http/server.go:1389 +0xc1
panic(0x8f73c0, 0xc82031b5e0)
    /usr/local/go/src/runtime/panic.go:443 +0x4e9
main.(*runner)

[2016-10-07 09:13] richardcase commented on #70
I will fix this.

On investigation the error is from the request comparison:
[code]
Specifically the the comparison in the callback.  We need to handle the following for API definitions in api.json:
[code]

[2016-10-07 14:58] richardcase commented on #70
Multiple issues encountered and fixed when trying to get the integration tests working.

[2016-10-10 10:00] richardcase opened #71 "TestFilterQuery Unit Test Fails"
The TestFilterQuery unit test is failing in master. The output is:

[code]

[2016-10-10 13:43] richardcase commented on #60
I'm working on this.

[2016-10-11 15:49] richardcase opened #73 "Failure in api.json generation"
When generating the api.json file using the  clc-go-cli/scripts/generate_api script an error is encountered:

[code]

[2016-10-11 15:52] richardcase commented on #60
A new 'webhook' resource has been added with the following commands:
- list
- delete
- delete-targeturi
- add-targeturi
- update

The integration tests need updating still before a PR can be made.

[2016-10-12 07:56] richardcase commented on #63
I'm working on this.

[2016-10-12 09:08] richardcase commented on #73
This error is caused by the API documentation using an incorrect token identifier. This is current URL definition in the API docs:
[code]
This should be:
[code]
I will fix this in  https://github.com/CenturyLinkCloud/APIDocs/blob/master/Firewall%20Policies/get-cross-dc-firewall-policy-list.md.

The issue should remain open until this is confirmed fixed.

[2016-10-20 20:07] chrislittle opened #75 "Bare Metal updates"
couple of items.
1.  the --os-type used for bare metal skus are missing Ubuntu 14 & Windows 2012 R2 DC Edition.  Might be worth cleaning up the text and making sure no case sensitivity.

[code]
1.  the --configuration-id seems to be unknown.  it seems as though the v2 api says it should be in the get deployment capabilities but the CLI command doesn't output it.  i.e. running

[code]

[2016-10-20 20:14] richardcase opened #76 "Change releases to use SemVer"
The CLI releases should use semantic versioing (a.k.k SemVer) instead of using dates. Its stndard practice to use SemVer. Version 1.2.2 means more than 2016-07-21.

More information can be found here: http://semver.org/

[2016-10-20 20:46] chrislittle commented on #75
get bare metal details using this:  https://www.ctl.io/api-docs/v2/#data-centers-get-data-center-bare-metal-capabilities . seems like a separate call

[2016-10-20 20:59] chrislittle commented on #75
Configuration|ConfigurationID
---------------|------------------
4 core, 16 GB RAM, 2x 1TB Raw HDD|529e2592a3e640a7c2617b5e8bc8feaed94eac22
12 core, 64 GB RAM, 4x 2TB Raw HDD|f24b18ba2ce23657657444601649c7b8b7f9b60c
20 core, 128 GB RAM, 6x 2TB Raw HDD|8057e3629403e92d6693352ad17a807dc8970aef
24 core, 128 GB RAM, 1x 960GB Raw SSD|331afd25f49e10187c9095a33bd16209e013a56f
24 core, 128 GB RAM, 1x 3.84

[2016-10-20 21:07] chrislittle commented on #75
To further add it seems creating bare metal servers needs a modification as when creating in the CLI it wants template-names, CPU etc when those are ignored anyway.  a simple build should be

clc create server --name X --group-name --network-name X --type baremetal --configuration-id x --os-type.... then datacenter and account alias switches as needed.

[2016-10-20 21:10] richardcase commented on #75
I recently added get baremetal capabilities to the GO SDK: https://github.com/CenturyLinkCloud/clc-sdk/commit/733135050ccaaa7d2857845466e01958f9d6b096.

If creating a server using the CLI we should get the baremetal capabilities before issuing the actual create API call, we can then do validation checks in the CLI and give helpful error messages.

[2016-10-21 13:50] richardcase opened #79 "Add CI and code coverage"
Add CI and code coverage to the repo.

[2016-10-22 07:49] richardcase opened #80 "Snapshot operations use ID only"
The snapshot operations under server should allow working with snapshot name as well as the existing snapshot id.

This will involve implementing the  clc-go-cli/base/id_inferable.go  interface.

[2016-10-25 13:50] #60 closed

[2016-10-28 21:27] richardcase commented on #75
I have implemented the 'get-baremetal-capabilities' command in the cli.

For the "server create" i propose the following:
- The description for 'configuration-id' is modified to state that the list of valid ids can be obtained from the 'get-baremetal-capabilities' command
- The description for 'os-type' is changed to remove any references to specific operating systems. Instead we say that 'get-bar

[2016-10-31 11:54] chrislittle commented on #75
sounds good @richardcase

[2016-10-31 15:55] richardcase commented on #69
Hi Gavin,

I had a look at this and its not the most intuitive. To update the disks for a server you have to specify what disks to keep and what to do.

When changing the amount of space (i.e. to increase the size of a disk) you create a request that lists all existing disks as 'keep' but you specify the new size (in GB) of the disk you want to expand. I found this easier to do when using JSON for

[2016-10-31 16:11] gavin-lai commented on #69
Hi Richard,
That sounds good, it does require all the disks information which is confusing.
Thanks
Gavin

---
Gavin Lai | Sr. Cloud Solutions Architect
CenturyLink Cloud
Phone: 647-745-7898
Email: gavin.lai@ctl.io
www.ctl.io<http://www.centurylinkcloud.com/>
[Description: Machine generated alternative text: CenturyLink]<http://www.ctl.io/>

From: Richard Case [mailto:notifications@github.com]
Sent

[2016-11-02 12:51] #55 closed

[2016-11-07 12:39] inge4pres opened #84 "Multiple commands do not work on windows"
Hi,

I'm on Windows, I fetched release [2016-07-21](https://github.com/CenturyLinkCloud/clc-go-cli/releases) installed in my PATH and getting this error when running the CLI

`clc: error: argument command: invalid choice: 'login' (choose from 'accounts', 'users', 'servers', 'groups', 'billing', 'networks', 'queue', 'blueprints')`

I configured the credentials with %HOME%/clc/config.yml file but I'

[2016-11-07 12:51] richardcase commented on #84
Could you supply the command line (with any sensitive data removed) you using when executing CLC?

[2016-11-07 13:46] inge4pres commented on #84
Sure
`clc login --user my.user.name.for.ctl.io --password my.password.ctl.io

usage: clc [-h] [--cols [COL [COL ...]]] [--config CONFIG] [--v1-api-key KEY]
           [--v1-api-passwd PASSWORD] [--v2-api-username USERNAME]
           [--v2-api-passwd PASSWORD] [--async] [--quiet] [--verbose]
           [--format {json,table,text,csv}]
           {accounts,users,servers,groups,billing,networks,queu

[2016-11-07 13:54] richardcase commented on #84
Thanks 😄

I'll have a look and get back to you.

[2016-11-08 15:09] richardcase commented on #84
Could you try the login command with the [latest release](https://github.com/CenturyLinkCloud/clc-go-cli/releases/tag/v1.1.0-rc.1)?

This is a pre-release version. I just ran the the login command on Windows with this version without issue:

![windowscli](https://cloud.githubusercontent.com/assets/198425/20104285/5445589c-a5c5-11e6-819f-026bd99a9537.png)

[2016-11-08 17:24] inge4pres commented on #84
[code]

[2016-11-08 17:29] chrislittle commented on #84
also, what operating system are you using?  I can also try to duplicate.

[2016-11-08 17:31] inge4pres commented on #84
LOL I found out why!
[code]

[2016-11-08 17:33] richardcase commented on #84
With the new rc-1 version you can get version information by using:

`clc version`

If this command isn't available you know you are using an older version on the CLI.

Can we close this issue?

[2016-11-08 17:34] chrislittle commented on #84
awesome!  do you have the python CLC CLI/SDK also loaded?

[2016-11-08 17:35] inge4pres commented on #84
Yeah I'll be hard-testing all CLC software for 1-2 weeks from yesterday :)

[2016-11-08 17:35] chrislittle commented on #84
feel free to hit us up on new issues if required.

[2016-11-08 17:35] #84 closed

[2016-11-11 09:00] inge4pres opened #85 "NetworkId parameter in list-ip-adresses"
Hi,

after successful login
[code]
I try to get the IPs in a network and get such error
[code]

[2016-11-11 09:08] inge4pres commented on #85
Same goes with NetworkName
[code]

[2016-11-11 12:32] chrislittle commented on #85
This looks like a bug

@richardcase I can't get this to work either.  can you check the code?

if I use --network (instead of network-name or network-id) it actually goes forward and wants a --type (which is supposed to be optional).  even using that then I get a 404.
[code]

@inge4pres you have the logic right in my view.

[2016-11-11 12:38] richardcase commented on #85
Sure, I'll check the code and let you both know.

[2016-11-11 12:49] chrislittle opened #86 "CIDR issue"
can you look into the issue around CIDR on source IP filter on public ips:

1.  basically you add the public IP (i.e. clc server add-public-ip-address --server-name <servername> --internal-ip-address <private IP of VM> --ports port=XX,protocol=udp (or tcp)
2. Update the public IP with CIDR IPs:  clc server update-public-ip-address --server-name <servername> --public-ip <publicip> --ports port=4040

[2016-11-11 12:51] richardcase commented on #86
Sure, I'll take a look.

[2016-11-11 14:37] richardcase commented on #85
@inge4pres & @chrislittle : i've had a look at the code and i can see there is a bug. I am in the process of migrating to a new laptop but i will get it fixed asap and will let you both know.

[2016-11-11 16:29] inge4pres commented on #85
I'm on v1.1.0-rc.1

[2016-11-11 20:00] chrislittle commented on #85
thanks @inge4pres as @richardcase noted he's going to dig into the code and fix this up.  if you find anything else let us know as we appreciate the feedback

[2016-11-12 10:40] richardcase commented on #86
I had a look at this and you can specify multiple CIDR as source restrictions. I used the following command:

`clc server update-public-ip-address --server-name MYSERVERNAME --public-ip xxx.xxx.xxx.xxx --ports port=80,protocol=tcp --source-restrictions "CIDR=70.100.60.140/32" "CIDR=71.100.60.0/24"`

[2016-11-12 11:22] #64 closed

[2016-11-12 11:22] #69 closed

[2016-11-12 11:22] #75 closed

[2016-11-12 11:22] #85 closed

[2016-11-12 11:40] richardcase commented on #76
Closing as this has been implemented as of release version v1.1.0-rc.1

[2016-11-12 11:40] #76 closed

[2016-11-12 11:40] richardcase commented on #67
Fixed in v1.1.0-rc.1

[2016-11-12 11:40] #67 closed

[2016-11-12 11:41] richardcase commented on #70
Mixed in v1.1.0-rc.1

[2016-11-12 11:41] #70 closed

[2016-11-12 12:08] richardcase commented on #85
Fixed in release v1.1.0-rc.2. https://github.com/CenturyLinkCloud/clc-go-cli/releases/tag/v1.1.0-rc.2

[2016-11-12 12:16] chrislittle commented on #86
@richardcase so the space vs. a comma was the trick.

I was issuing clc server update-public-ip-address --server-name MYSERVERNAME --public-ip xxx.xxx.xxx.xxx --ports port=80,protocol=tcp --source-restrictions "CIDR=70.100.60.140/32","CIDR=71.100.60.0/24"

should we maybe put something in the code as the command is accepted with a comma but doesn't do anything but the last ip listed.  not what we

[2016-11-12 12:23] richardcase commented on #86
That's a good point.  I'll see what I can do.

[2016-11-16 22:44] casrep opened #89 "Update Server Public IP: Specifying Multiple Ports"
The documentation isn't clear on how to specify multiple ports when updating a server's public IP with `server update-public-ip-address`. It seems like only one can be specified in each query. This is a problem since the command overwrites the current port configuration for the server instead of appending to it.

[2016-11-17 11:40] richardcase commented on #89
I agree the documentation isn't clear on how you specify an array of items, ports in this case. This has also come up when specifying source restrictions.

To specify multiple ports you need to do the following:

`clc server update-public-ip-address --server-name MyServerName --public-ip xxx.xxx.xxx.xxx --ports "port=80,protocol=tcp" "port=443,protocol=tcp"`

Basically you quote each item in the a

[2016-11-17 11:41] chrislittle commented on #89
@gavin-lai can you update your CLI guide in the KB to show an example of this and the multiple CIDR array so at least folks have an example, with that + the readme example that should help on these array items.

[2016-11-17 20:44] chrislittle opened #90 "billing output"
i'm seeing some issues in the cli on billing.

if i issue:
[code]
I get an output fine.

change it to:
[code]
Error occured while sending request to API. Status code: 500. Server says: An error has occurred.

i'm unsure why the random cut off in the month.

[2016-11-18 22:14] chrislittle opened #91 "enhancement: query data across account hierarchy"
It would be great if we could implement a 'crawl' of an account hierarchy for CLI actions.

for example, I want a list of all servers across my parent and all subs.  right now you must always specify --account-alias or it just lists the parent account data.

[2016-11-20 08:12] richardcase commented on #91
Great idea. Do you have any preferences on how we specify this on the command line. For example:

`clc server list --data-center VA1 --account-alias CSEM --include-subaccounts `

[2016-11-21 13:04] chrislittle commented on #91
well we already have --account-alias on some commands (not sure how many so if you can check).  perhaps we just use --account-alias and it can be a specific alias or 'all'  ... @gavin-lai your thoughts?  i'm thinking if we can avoid another function lets do it.

[2016-11-21 14:06] gavin-lai commented on #91
Agree, the all option sound go to get all sub accounts information.

From: Chris Little [mailto:notifications@github.com]
Sent: Monday, November 21, 2016 8:05 AM
To: CenturyLinkCloud/clc-go-cli <clc-go-cli@noreply.github.com>
Cc: Gavin Lai <Gavin.Lai@ctl.io>; Mention <mention@noreply.github.com>
Subject: Re: [CenturyLinkCloud/clc-go-cli] enhancement: query data across account hierarchy (#91)

well

[2016-11-22 11:46] richardcase commented on #66
@chrislittle i agree i think a new 'lbaas' resource should be created.

I'll work on this now.

[2016-11-22 15:58] richardcase opened #92 "Webhook delete help incorrect"
The help description for deleting a webhook is incorrect. Currently it is:

But this is wrong as this isn't an alert and no id's are required. It needs to be updated.

[2016-11-22 15:59] richardcase commented on #79
This is currently blocked until i can get someone to enable travis-ci for this project.

[2016-11-23 13:11] casrep opened #93 "SSO/SAML Login"
There's no documentation on how logging in is accomplished for users whom have SSO configured in Control.

[2016-11-23 13:25] richardcase commented on #93
Thats a very good point.

Do we have any CLC accounts with SAML enabled that we can use for testing?

[2016-11-23 13:46] chrislittle commented on #93
I don't have one setup myself but you could setup something as a test using OneLogin using https://www.ctl.io/knowledge-base/control-portal/using-saml-for-multi-factor-authentication-to-centurylink-control-portal/ ;  I can probably play with it next week after vacation if required

@gavin-lai may have something and is going to check

[2016-11-23 13:53] richardcase commented on #89
Closing as this is will be documented in the KB and a sample has been added to the README.md

[2016-11-23 13:53] #89 closed

[2016-11-23 16:09] casrep commented on #89
That's good info. Thank you.

[2016-11-24 13:54] richardcase opened #94 "Update build scripts to generate hash"
The build_release script needs to be updated to generate the MD5 hash of the resulting builds.

[2016-12-23 02:47] gavin-lai commented on #69
Still getting error running the new command: PS C:\Users\peter_000\Documents\tools\clc> .\clc.exe server update '{"ServerId": "va1pmta00000003","Disks" : {"Keep" : [{ "Id": "0:0", "SizeGB": 1},{ "Id": "0:1", "SizeGB": 2},{
"Id": "0:2", "SizeGB": 22}]}}'

{ServerId: va1pmta00000003,Disks : {Keep : [{ Id: 0:0, SizeGB: 1},{ Id: 0:1, SizeGB: 2},{ Id: 0:2, SizeGB: 22}]}} is neither a valid JSON object

[2016-12-23 02:51] gavin-lai opened #95 "CLI server update disk issue"
Hi CLI team,
A support ticket (
https://t3n.zendesk.com/agent/tickets/1340287) came in, when running with 2016-11-24 binary
clc version:
CenturyLink Cloud CLI (Version v1.1.0)
https://github.com/CenturyLinkCloud/clc-go-cli
Go Version: go1.7.1 windows/amd64
Built on: 2016-11-24_01:48:24pm
Git Commit: 489cade9e389037d776254c8668667f14da59f2c

https://github.com/CenturyLinkCloud/clc-go-cli/issues/69

[2016-12-28 14:59] casrep commented on #95
I have a similar issue. Could the README and the tool's help text be updated to clarify what the accepted structure is as well?

To be clear - the server has 3 disks, and I'm trying delete `0:2`. Here's the commands and results I ran:
[code]

[2017-01-10 14:48] antonsoroko commented on #95
@gavin-lai Hi. You need to use `DiskId` instead of `Id`:
(as described here - https://github.com/CenturyLinkCloud/clc-go-cli/issues/69#issuecomment-257333394)
[code]

@casrep Hi. You need to use JSON, like this
(more info about format and why you should specify SizeGB - https://github.com/CenturyLinkCloud/clc-go-cli/issues/69#issuecomment-257333394)
[code]

So, I got this info from `clc server lis

[2017-01-10 15:02] gavin-lai commented on #95
Hi Anton, what version of CLI are you using?  I cut and paste your command in a Windows environment and change the server name and I got the same error.
Thanks
Gavin

[2017-01-10 16:51] antonsoroko commented on #95
Hi.
I've used the latest version from https://github.com/CenturyLinkCloud/clc-go-cli/releases
(`clc-v1.1.0-linux-amd64.tar.gz`, to be precise)
[code]

[2017-01-17 11:21] dylanhughes opened #96 "You can not specify an IP address on the clc server import"
We have a customer that is self importing in a mitel telephone application that needs to be brought up on a specific IP address so we need to be able to specify -ipaddress on the clc server import command in clc go.

[2017-01-17 11:22] richardcase commented on #96
I'll work on this.

[2017-01-17 16:33] richardcase commented on #96
Looking at the underlying API (v2) consumed by the CLI there is no option to specify IP address when importing:

https://www.ctl.io/api-docs/v2/#servers-import-server

You can specify a network and it will assign an address to the server from those available for the network.  We need to get the underling API updated so that it supports the the 'ipAddress' option like the create server API call (ht

[2017-02-01 20:32] jinzishuai opened #97 "add a second NIC for a CLC server using parent network"
This is created as a reference to my zendesk ticket of https://t3n.zendesk.com/agent/tickets/1351472

A brief summary is that the **v1.1.0** clc-go-cli does not support adding a secondary NIC to a subaccount VM using a parent shared network due to the failure to lookup the network UUID from the specified network name.

For example:
[code]

My investigation conclusions:
1. I was able to get the wor

[2017-02-01 20:44] jinzishuai commented on #97
Note that I got it working by using the **network id**:
[code]

[2017-02-01 20:44] #97 closed, assigned to nobody

[2017-05-25 20:54] paulzerkel opened #98 "add-public-ip-address sends PortTo even when not specified"
When adding a public IP to a server like so:
`clc server add-public-ip-address --server-id test --internal-ip-address 10.1.1.1 --ports port=9000,protocol=tcp`

the data being POSTed to the API includes the `PortTo` field even though it was not specified. This results in an invalid port range being sent. The `PortTo` field should have the tag `` `json:",omitempty"` `` added so that it isn't include

[2017-05-26 08:45] richardcase commented on #98
I'll have a look and make the change.

[2017-07-07 14:13] chrislittle opened #99 "Updated simple backup with new API / Scheduler"
The simple backup API/scheduler has changed and needs updating on the Go CLI.  See https://github.com/CenturyLinkCloud/APIDocs/pull/101/files for changes

@jgerger FYI as PO

[2017-07-07 14:14] chrislittle commented on #99
@woestep for awareness as this might be one of the first major fixes required in the CLI

[2017-07-07 14:16] chrislittle commented on #99
@steventarver CLI item that will need attention so it works again

[2017-07-13 11:36] richardcase commented on #98
Thanks @paulzerkel. Does this actually cause you an issue?

When i use the latest version and use the command line arguments you included it correctly only opens a single port and not a port range:
![publicip](https://user-images.githubusercontent.com/198425/28164541-c6176a5e-67c7-11e7-8c4f-c22d9aad7477.PNG)

The request being sent:
`{"InternalIpAddress":"10.146.9.22","Ports":[{"Protocol":"tcp","P

[2017-07-13 11:38] richardcase commented on #96
@dylanhughes  - can this be closed as the underlying v2 API doesn't support the functionality?

[2017-07-13 11:46] dylanhughes commented on #96
Richard,

Yes please close this request.

Thank you for your time.

Regards,

Dylan Hughes
Cloud Onboarding Architect

230 Wharfedale Road, Winnersh Triangle, Wokingham, Berkshire, RG41 5TP, UK
desk line: +44 (0) 118 3094748
mobile: +44 (0) 7557 284675
Dylan.hughes@centurylink.com<mailto:Dylan.hughes@centurylink.com>

[cid:image001.png@01D2FBD5.FCA20C90][cid:image002.png@01D2FBD5.FCA20C90]<http://

[2017-07-13 11:52] #96 closed, assigned to nobody

[2017-07-13 11:53] #79 closed

[2017-10-07 08:29] #36 closed

[2017-11-16 16:48] chrislittle opened #100 "Include MS SQL RDBS into CLI"
Include MS SQL RDBS into CLI